azure-functions
azure-ai-vision-imageanalysis>=1.0.0b1 
azure-core
openai>=1.0.0
azure-cognitiveservices-speech
python-dotenv
huggingface_hub>=0.20.3
pillow
azure-ai-contentsafety>=0.1.0b2 # Atau versi stabil terbaru (cek PyPI)
